<h2>コメント一覧</h2>
        <% @comments.each do |comment| %>
        <div class="microposts-show-item">
            <div class="micropost-user-name">
                <img src="<%= "/user_images/#{@user.image_name}" %>">
                <%= link_to(@user.name, "/users/#{@user.id}") %>
            </div>
            <p>
                <%= comment.content %>
            </p>
            <div class="micropost-time">
                <%= @micropost.created_at %>
            </div>
            <% if comment.user_id == @current_user.id %>
            <div class="post-menus">

                <%= link_to("削除", "/comments/#{@micropost.id}/destroy", {method: "micropost"}) %>
            </div>
            <% end %>
        <% end %>
        </div>
        <%= form_tag("/comments/:micropost_id/create") do %>
        <div class="form">
            <div class="form-body">


                <textarea name="content"><%= @comment.content %></textarea>
                <input type="submit" value="コメントする">

                <% end %>
            </div>
        </div>