
<table class="table table-list">
<thead>
  <tr>
    <th>商品名</th>
  </tr>
</thead>
<% @word_of_mouths.each do |product| %>
<tbody>
<tr>
  <td><%= product.sales_condition %> </td>
  <td><%= product.code %></td>
  <td><%= product.name %></td>
  <td><%= product.display_price %></td>
  <td><%= product.display_purchase_cost %></td>
</tr>
</tbody>
<% end %>
</table>