<%= search_form_for(@q, url: search_word_of_mouths_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>

  <%= f.text_field :code_cont, class: 'form-control' %>
  <%= f.text_field :name_cont, class: 'form-control' %>
  <%= f.text_field :name_kana_cont, class: 'form-control' %>

  <div class="checkbox">
    <label>
      <%= f.check_box :availability_true %>
      販売中のみ
    </label>
  </div>
  <%= f.text_field :price_gteq, class: 'form-control' %>
  <%= f.text_field :price_lteq, class: 'form-control' %>
  <%= f.text_field :purchase_cost_gteq, class: 'form-control' %>
  <%= f.text_field :purchase_cost_lteq, class: 'form-control' %>

<% end %>